.idea/*.xml
.idea/scrapenhl.iml
build/bdist.macosx-10.7-x86_64/
scrapenhl/scrape/*/*_parsed.hdf5
scrapenhl/scrape/2012/20001_parsed.hdf5
scrapenhl/scrape/2012/20001_shifts_parsed.hdf5
scrapenhl/scrape/2012/20002_parsed.hdf5
scrapenhl/scrape/2012/20002_shifts_parsed.hdf5
scrapenhl/scrape/2012/20003_parsed.hdf5
scrapenhl/scrape/2012/20003_shifts_parsed.hdf5
scrapenhl/scrape/2012/20004_parsed.hdf5
scrapenhl/scrape/2012/20004_shifts_parsed.hdf5
scrapenhl/scrape/2012/20005_parsed.hdf5
scrapenhl/scrape/2012/20005_shifts_parsed.hdf5
scrapenhl/scrape/2012/20006_parsed.hdf5
scrapenhl/scrape/2012/20006_shifts_parsed.hdf5
scrapenhl/scrape/2012/20007_parsed.hdf5
scrapenhl/scrape/2012/20007_shifts_parsed.hdf5
scrapenhl/scrape/2012/20008_parsed.hdf5
scrapenhl/scrape/2012/20008_shifts_parsed.hdf5
scrapenhl/scrape/2012/20009_parsed.hdf5
scrapenhl/scrape/2012/20009_shifts_parsed.hdf5
scrapenhl/scrape/2012/20010_parsed.hdf5
scrapenhl/scrape/2012/20010_shifts_parsed.hdf5
scrapenhl/scrape/2012/20011_parsed.hdf5
scrapenhl/scrape/2012/20011_shifts_parsed.hdf5
scrapenhl/scrape/2012/20012_parsed.hdf5
scrapenhl/scrape/2012/20012_shifts_parsed.hdf5
scrapenhl/scrape/2012/20013_parsed.hdf5
scrapenhl/scrape/2012/20013_shifts_parsed.hdf5
scrapenhl/scrape/2012/20014_parsed.hdf5
scrapenhl/scrape/2012/20014_shifts_parsed.hdf5
scrapenhl/scrape/2012/20015_parsed.hdf5
scrapenhl/scrape/2012/20015_shifts_parsed.hdf5
scrapenhl/scrape/2012/20016_parsed.hdf5
scrapenhl/scrape/2012/20016_shifts_parsed.hdf5
scrapenhl/scrape/2012/20017_parsed.hdf5
scrapenhl/scrape/2012/20017_shifts_parsed.hdf5
scrapenhl/scrape/2012/20018_parsed.hdf5
scrapenhl/scrape/2012/20018_shifts_parsed.hdf5
scrapenhl/scrape/2012/20019_parsed.hdf5
scrapenhl/scrape/2012/20019_shifts_parsed.hdf5
scrapenhl/scrape/2012/20020_parsed.hdf5
scrapenhl/scrape/2012/20020_shifts_parsed.hdf5
scrapenhl/scrape/2012/20021_parsed.hdf5
scrapenhl/scrape/2012/20021_shifts_parsed.hdf5
scrapenhl/scrape/2012/20022_parsed.hdf5
scrapenhl/scrape/2012/20022_shifts_parsed.hdf5
scrapenhl/scrape/2012/20023_parsed.hdf5
scrapenhl/scrape/2012/20023_shifts_parsed.hdf5
scrapenhl/scrape/2012/20024_parsed.hdf5
scrapenhl/scrape/2012/20024_shifts_parsed.hdf5
scrapenhl/scrape/2012/20025_parsed.hdf5
scrapenhl/scrape/2012/20025_shifts_parsed.hdf5
scrapenhl/scrape/2012/20026_parsed.hdf5
scrapenhl/scrape/2012/20026_shifts_parsed.hdf5
scrapenhl/scrape/2012/20027_parsed.hdf5
scrapenhl/scrape/2012/20027_shifts_parsed.hdf5
scrapenhl/scrape/2012/20028_parsed.hdf5
scrapenhl/scrape/2007/*.hdf5
scrapenhl/scrape/2008/*.hdf5
scrapenhl/scrape/2009/*.hdf5
scrapenhl/scrape/2010/*.hdf5
scrapenhl/scrape/2011/*.hdf5
scrapenhl/scrape/2012/*.hdf5
scrapenhl/scrape/2013/*.hdf5
scrapenhl/scrape/2014/*.hdf5
scrapenhl/scrape/2015/*.hdf5
scrapenhl/scrape/2016/*.hdf5
.idea/
